<launch>
    <!-- Launch rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find chemist_eye)/config/experiment_3.rviz" output="screen">
        <param name="args" value="2>/dev/null"/>
    </node>

    <!-- Set YOLO_VERBOSE to False -->
    <env name="YOLO_VERBOSE" value="False" />

    <!-- Run the Python script that calls chemist_eye_fire_warning.bash (one) -->
    <node name="fire_warning_service_one_launcher" pkg="chemist_eye" type="launch_bash_remote_fire_warning_service.py" output="screen"/>
    
    <!-- Run the Python script that calls chemist_eye_fire_warning.bash (two) -->
    <node name="fire_warning_service_two_launcher" pkg="chemist_eye" type="launch_bash_remote_fire_warning_service_two.py" output="screen"/>
    
    <!-- Run the Python script that calls chemist_eye_fire_warning.bash (three) -->
    <node name="fire_warning_service_three_launcher" pkg="chemist_eye" type="launch_bash_remote_fire_warning_service_three.py" output="screen"/>

    <!-- Run the Python script that calls chemist_eye_warning.bash (one) -->
    <node name="speech_service_one_launcher" pkg="chemist_eye" type="launch_bash_remote_speech_service.py" output="screen"/>
    
    <!-- Run the Python script that calls chemist_eye_warning.bash (two) -->
    <node name="speech_service_two_launcher" pkg="chemist_eye" type="launch_bash_remote_speech_service_two.py" output="screen"/>

    <!-- Run the Python script that calls chemist_eye_warning.bash (three) -->
    <node name="speech_service_three_launcher" pkg="chemist_eye" type="launch_bash_remote_speech_service_three.py" output="screen"/>
    
    <!-- Optional: Add a short delay to allow the services to fully initialise -->
    <param name="service_call_delay" value="5" />

    <!-- Launch the RealSense node -->
    <node name="server_node" pkg="chemist_eye" type="chemist_eye_server.py" output="screen"/>

    <!-- Define a parameter for the bag file name -->
    <arg name="bag_ir_cameras" default="$(env HOME)/rosbags/ir_cameras_default_recording.bag"/>
    <!-- Launch fire detection node -->
    <node name="fire_detection_node" pkg="chemist_eye" type="fire_detection.py" output="screen">
        <param name="MAX_TEMP" value="50"/>
        <param name="llm_model" value="llava:7b"/>
        <param name="relotace_robots" value="False"/>
        <param name="fire_warning_audio" value="False"/>
    </node>
    <!-- Launch the tf calibrator for IR ChemistEye 1 node -->
    <node name="ircameraone_tf_broadcaster" pkg="chemist_eye" type="camera_ir_one_calibrator_tf.py" output="screen">
        <param name="rand_mode" value="True"/>
    </node>
    <!-- Launch the tf calibrator for IR ChemistEye 2 node -->
    <node name="ircameratwo_tf_broadcaster" pkg="chemist_eye" type="camera_ir_two_calibrator_tf.py" output="screen">
        <param name="rand_mode" value="True"/>
    </node>

    <!-- Play the specified bag file for IR cameras -->
    <node pkg="rosbag" type="play" name="rosbag_play" args="$(arg bag_ir_cameras) --clock"/>
   
    <!-- Launch the tf calibrator for ChemistEye 1 node -->
    <node name="cameraone_tf_broadcaster" pkg="chemist_eye" type="cameraone_calibrator_tf.py" output="screen"/>

    <!-- Launch the tf calibrator for ChemistEye 2 node -->
    <node name="cameratwo_tf_broadcaster" pkg="chemist_eye" type="cameratwo_calibrator_tf.py" output="screen"/>

    <!-- Launch the tf calibrator for ChemistEye 3 node -->
    <node name="camerathree_tf_broadcaster" pkg="chemist_eye" type="camerathree_calibrator_tf.py" output="screen"/>
    
    <!-- Launch the detector node (camera one) -->
    <node name="detector_one_node" pkg="chemist_eye" type="chemist_eye_detector.py" output="screen"/>
    
    <!-- Launch the detector node (camera two) -->
    <node name="detector_two_node" pkg="chemist_eye" type="chemist_eye_detector_two.py" output="screen"/>

    <!-- Launch the detector node (camera three) -->
    <node name="detector_three_node" pkg="chemist_eye" type="chemist_eye_detector_three.py" output="screen"/>
    
    <!-- Publish static transform from map to world -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_world_transform" args="0 0 0 -1.5708 0 0 map world" />

    <!-- Run the Python script that calls chemist_eye_streamer.bash (one) -->
    <node name="remote_streamer_one_launcher" pkg="chemist_eye" type="launch_remote_streamer_one.py" output="screen"/>
    
    <!-- Run the Python script that calls chemist_eye_streamer.bash  (two) -->
    <node name="remote_streamer_two_launcher" pkg="chemist_eye" type="launch_remote_streamer_two.py" output="screen"/>

    <!-- Run the Python script that calls chemist_eye_streamer.bash  (two) -->
    <node name="remote_streamer_three_launcher" pkg="chemist_eye" type="launch_remote_streamer_three.py" output="screen"/>

    <!-- Launch Image Joiner -->
    <node name="imgs_joiner_node" pkg="chemist_eye" type="images_joiner.py" output="screen"/>
    
    <!-- Load the map using the map_server -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find chemist_eye)/maps/ACL_map.yaml"/>

    <!-- Navigation graph visualizer-->
    <node name="navigation_graph_node" pkg="chemist_eye" type="navigation_graph.py" output="screen"/>

    <!-- Run 2Dmap node -->
    <node name="twod_map" pkg="chemist_eye" type="tf_to_twod_node" output="screen">
    <!-- Define the parameters -->
        <param name="max_temperature" value="500.0" />
        <param name="hazard_radius" value="2.5" />
    </node>

    <!-- Launch llm node (Add dummy_llm.py node for navigation capabilities in simulation)-->
    <node name="llm_classificator_node" pkg="chemist_eye" type="llm.py" output="screen">
        <param name="chemist_eye" value="camera1"/>
        <param name="ppe" value="False"/>
        <param name="prone" value="True"/>
        <param name="datasetppe" value="WHITE"/>
        <param name="producedataset" value="False"/>
        <param name="onlydataset" value="False"/>
        <param name="ppe_delay_minutes" value="5"/>
    </node>

    <!-- Launch Slack bot node -->
    <node name="slack_bot_node" pkg="chemist_eye" type="ros_slack.py" output="screen">
            <param name="map_mode" value="3D"/>
    </node>

</launch>

