<launch>

    <arg name="bag_name" default="default_recording_cam2.bag"/>
    <arg name="bag_dir" default="/media/francisco/New Volume/ROS_bags"/>

    <node pkg="rosbag" type="record" name="rosbag_record" output="screen" 
          args='-O "$(arg bag_dir)/$(arg bag_name)" /cameratwo/color/image_raw /cameratwo/depth/array'/>

</launch>